<a href="https://colab.research.google.com/github/Sairam-04/Python/blob/main/Problem_Solving_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Section 1**

1. Write a program to demonstrate  all the Arithmetic operators

In [ ]:
a = int(input("Enter the value of a:"))
b = int(input("Enter the value of b:"))
print("Addition :",a+b)
print("Subraction :",a-b)
print("Multiplication :",a*b)
print("Division :",a/b)
print("Floor Division :",a//b)
print("a power b :",a**b)
print("Modulus :",a%b)

Enter the value of a:5
Enter the value of b:2
Addition : 7
Subraction : 3
Multiplication : 10
Division : 2.5
Floor Division : 2
a power b : 25
Modulus : 1

2. Write a program to demonstrate all the Bitwise operators

In [ ]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))
print("Bitwise Operations:")
print("a AND b :",a&b)
print("a OR b :",a|b)
print("a XOR b :",a^b)
print("NOT a :",~a)
print("NOT b :",~b)
print("a left shift b :",a<<b)
print("a right shift b :",a>>b)

Enter a:10
Enter b:5
Bitwise Operations:
a AND b : 0
a OR b : 15
a XOR b : 15
NOT a : -11
NOT b : -6
a left shift b : 320
a right shift b : 0

3. Write a program  to check whether a value is present in a sequence type, dictionary & set

In [ ]:
#Dictionary
a = {'a':1,'b':2,'c':3,'d':4}
x = int(input("Enter the value to check:"))
if x in a.values():
  print(str(x)+" is present in the dictionary")
else:
  print("x is not found in the dictionary")

Enter the value to check:4
4 is present in the dictionary

In [ ]:
#Sets
a = {10,20,30,40,50}
x = int(input("Enter element to search in set:"))
if x in a:
  print(x,"is found in the set")
else:
  print("Not found")

Enter element to search in set:20
20 is found in the set

4. Write a program to check whether two variables are identical or not (use different types of variables and check)

In [ ]:
x = input("Enter x:")
y = input("Enter y:")
if x is y:
  print("Both x and y are identical x:{} and y:{}".format(x,y))
else:
  print("x and y are not identical")

Enter x:4
Enter y:4
Both x and y are identical x:4 and y:4

5. Write a program to read studentâ€™s  name, age and cgpa and display details as follows:<br>
Student Details:<br>
Name  : yourname <br>
Age : 21<br>
Cgpa : 8.9<br>

In [ ]:
name = input("Enter name of the Student:")
age = int(input("Enter age of the Student:"))
cgpa = input("Enter cgpa of the Student:")
print("Student Details:")
print("Name:{}\nAge:{}\nCgpa:{}".format(name,age,cgpa))

Enter name of the Student:sairam
Enter age of the Student:19
Enter cgpa of the Student:8.97
Student Details:
Name:sairam
Age:19
Cgpa:8.97

# **Section 2**

1.A company decides to give bonus to all its employees on Diwali. A 5% bonus on salary is given to male workers and 10% bonus to female workers on Write program to enter a number and then calculate sum of digits

In [ ]:
sal = float(input("Enter the Salary:"))
emp_name = input("Enter the name of the Employee:")
gender = input("Enter the gender of the employee(Male of Female):")

if gender == "Male":
  sal += 5/100 * sal
elif gender == "Female":
  sal += 10/100 * sal
else:
  print("Invalid Input")

print("Salary of the Employee",sal)

Enter the Salary:4000
Enter the name of the Employee:sairam
Enter the gender of the employee(Male of Female):Male
Salary of the Employee 4200.0

2. Write a program to print multiplication table of n, where n is entered by the user

In [ ]:
n = int(input("Enter n:"))
for i in range(1,11):
  print("{}X{} = {}\n".format(n,i,n*i))

Enter n:5
5X1 = 5

5X2 = 10

5X3 = 15

5X4 = 20

5X5 = 25

5X6 = 30

5X7 = 35

5X8 = 40

5X9 = 45

5X10 = 50

4. Write a program to determine whether the character entered is a vowel or not

In [ ]:
vowels = ['a','e','i','o','u']
alpha = input('Enter any letter:')
if alpha in vowels:
  print("Given letter is a vowel")
else:
  print("Given letter is not a vowel")

Enter any letter:x
Given letter is not a vowel

5. Write a program to calculate sum of numbers from m to n and if m>n display error message (Use while loop)

In [ ]:
sum=0
m = int(input("Enter m:"))
n = int(input("Enter n:"))
if m>n:
  print("Error m should be less than n")
else:
  i = m
  while(i<=n):
    sum+=i;
    i+=1
  print("Sum of numbers from {} to {} is {}".format(m,n,sum))

Enter m:5
Enter n:7
Sum of numbers from 5 to 7 is 18

6.Write a program to generate the sequence 1, 3, 5, 7, 9â€¦ read n value. Use for loop

In [ ]:
n = int(input("Enter n:"))
for i in range(1,n+1):
  print(2*i-1, end=", ")

Enter n:10
1, 3, 5, 7, 9, 11, 13, 15, 17, 19,

7.     7. Write a program to print the following pattern.<br>
1<br>
1 2<br>
1 2 3 <br>
1 2 3 4<br>

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123
1234

#**Section 3**

1. Write a program to demonstrate string traversal using indexing

In [ ]:
string = input("Enter any string:")
for i in range(0,len(string)):
  print(string[i],end='')

Enter any string:Hello I  am Sairam
Hello I  am Sairam

2. Write a program to demonstrate slicing on strings

In [ ]:
string = input("Enter any String:")
print(string[:])
print(string[:-1])
print(string[::])
print(string[1:3])
print(string[1:10:2])
print(string[::-1])
print(string[-4:-1])
print(string[:10])
print(string[:])

Enter any String:Artificial Intelligence
Artificial Intelligence
Artificial Intelligenc
Artificial Intelligence
rt
riiil
ecnegilletnI laicifitrA
enc
Artificial
Artificial Intelligence

3. Write a program to print the following pattern<br>
A<br>
AB<br>
ABC<br>
ABCD<br>

In [ ]:
n=int(input("Enter n:"))
for i in range(ord('A'),ord('A')+n):
  for j in range(ord('A'),i+1):
    print(chr(j),end='')
  print()

Enter n:4
A
AB
ABC
ABCD

4. Write a program that takes userâ€™s name, phone number and PAN card number as input. Validate the information using isX function and print the details.

In [ ]:
name = input("Enter the name:")
phone_number = input("Enter the phone number:")
PAN_card = input("Enter PAn card number:")

if (name.isalpha()):
  print("User name :",name)
else:
  print("Invalid Username..")

if phone_number.isnumeric() and len(phone_number)==10:
  print("Phone Number :",phone_number)
else:
  print("Invalid Phone Number..")

if PAN_card.isalnum() and len(PAN_card)==10:
  print("PAN CarD Number :",PAN_card)
else:
  print("Invalid PAN Card Number..")

Enter the name:Sairam
Enter the phone number:9939200393
Enter PAn card number:AAAAA8888A
User name : Sairam
Phone Number : 9939200393
PAN CarD Number : AAAAA8888A

5. Write a program that accepts a string from user and displays the same string after removing vowels from it

In [ ]:
string = input("Enter any String:")
vowels = ['a','e','i','o','u','A','E','I','O','U']
new_string = ''
for ch in string:
  if ch not in vowels:
    new_string+=ch

print(new_string)

Enter any String:Artificial Intelligence
rtfcl ntllgnc

6. Write a program that reads a string and displays the number of occurrences of each character in the entered string

In [ ]:
string = input("Enter any String:")
string_1 = ''
for i in string:
  if i not in string_1:
    string_1+=i

for i in string_1:
  c = string.count(i)
  print(i,":",c)

Enter any String:aaddffggswess
a : 2
d : 2
f : 2
g : 2
s : 3
w : 1
e : 1

7. Write a program to illustrate upper(), lower(), find(),split(),join(), and replace() methods on a string object

In [ ]:
string = input("Enter any String:")

print("upper():",string.upper())
print("lower():",string.lower())

string = "Vidya Jyothi Institue Of technology"
x = input("Enter any letter to search in String:")
print("find()",string.find(x))

string = "sairamramavath01@gmail.com sairamsai097@vjit.ac.in"
print("split():",string.split('@'))

s1 = "V"
s2 = "J"
s3 = "I"
s4 = "T"
print("join():"," ".join((s1,s2,s3,s4)))

s = "Hai"
print("replace()",s.replace('a','i'))

Enter any String:hyderaabad
upper(): HYDERAABAD
lower(): hyderaabad
Enter any letter to search in String:J
find() 6
split(): ['sairamramavath01', 'gmail.com sairamsai097', 'vjit.ac.in']
join(): V J I T
replace() Hii

8. Write a program to check whether a string is a palindrome or not

In [ ]:
string = input("Enter any String:")
rev = string[::-1]
if string==rev:
  print("string is palindrome")
else:
  print("String is not palindrome")

Enter any String:A1221A
string is palindrome

9. Write a program that takes list of words and print the longest word along with its length

In [ ]:
words = input("Enter words in a single line")
words_list = words.split(" ")
l = words_list[0]
for i in words_list:
  if(len(i)>=len(l)):
    l = i

print("Word :{}\n Length Of the word is: {}".format(l,len(l)))

Enter words in a single lineLists Tuples Sets
Word :Tuples
 Length Of the word is: 6

10. Write a program to count number of characters, words and lines in the given string

In [ ]:
st = "Hi I am Sairam \n I am currently studying at VJIT"
print(st)
words = st.split()
print("No of Characters in a String:{}\n No of Words in a String:{}\n No of lines in a String:{} ".format(len(st),len(words),len(st.splitlines())))

Hi I am Sairam
 I am currently studying at VJIT
No of Characters in a String:48
 No of Words in a String:10
 No of lines in a String:2

# **Section 4**

1. Write a program using function ,which takes hours and minute  and return  time in minutes

In [ ]:
def hours2min(hrs,min):
  return hrs*60 + min

if __name__ == "__main__":
  hr = int(input("Enter hours:"))
  min = int(input("Enter minutes:"))
  time = hours2min(hr,min)
  print(time)

Enter hours:10
Enter minutes:30
630

2. Write program that finds greatest of 3 numbers using functions. Pass the numbers as arguments

In [ ]:
def greatest(a,b,c):
  if a>=b and a>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c


if __name__ == "__main__":
  x = input("Enter any 3 numbers seperated by space:").split(' ')
  a, b, c = int(x[0]), int(x[1]), int(x[2])
  z = greatest(a,b,c)
  print(z)

Enter any 3 numbers seperated by space:10 20 30
30

3. Write a function is_prime() that returns 1 if the argument passed to it is a prime number and 0 otherwise

In [ ]:
import math
def is_prime(n):
  if n==0 or n==1:
    return 0
  else:
    x = int(math.sqrt(n))
    for i in range(2,x):
      if n%i==0:
        return 0
    
    return 1



if __name__ == "__main__":
  n = int(input("Enter n:"))
  x = is_prime(n)
  if(x==1):
    print(n,"is a prime number")
  else:
    print(n,"is not an prime number")

Enter n:3
3 is a prime number

4. Write a function that accepts an integer from 1 â€“ 12 to represent the month number and display the corresponding month of the year

In [ ]:
def month(month):
  month_list = ['January','Febraury','March','April','May','June','July','August','September','October','November','December']
  return month_list[month-1]

if __name__ == "__main__":
  mon = int(input("Enter month number:"))
  z = month(mon)
  print(z)

Enter month number:5
May

5. Write a program using function, which takes student rollno  and 5 subjects marks as arguments and returns the average of marks

In [ ]:
def marks(rollno,marks_list):
  sum = 0
  for i in marks_list:
    sum+=int(i)
  return sum/5

if __name__ == "__main__":
  rollno = input("Enter Rollno of the student:")
  m = input("Enter marks of 5 subjects seperated by space:")
  m_list = m.split(' ')
  print("Avearage marks of student:",marks(rollno,m_list))

Enter Rollno of the student:130
Enter marks of 5 subjects seperated by space:77 89 95 70 65
Avearage marks of student: 79.2

6. Write a function which takes rollno, name and course as argument and print details. When course is not passed then by default â€˜B.Techâ€™ has to be assigned

In [ ]:
def student_details(rollno,name,course='B.Tech'):
  print("Student Details")
  print("Name : {}\nRollno : {}\nCourse: {}\n".format(rollno,name,course))

student_details('19911A3542','Sairam')

Student Details
Name : 19911A3542
Rollno : Sairam
Course: B.Tech

7. Write a program to generate Fibonacci series up to â€˜nâ€™. Use recursion

In [ ]:
def fibo(n):
  if n<=1:
    return n
  else:
    return fibo(n-1)+fibo(n-2)

def fibonaci_series(l):
  for i in range(l):
    print(fibo(i),end=', ')

if __name__ == "__main__":
  n = int(input("Enter n:"))
  fibonaci_series(n)

Enter n:10
0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

8. Write a program using function to perform calculator operations (Addition, subtraction, multiplication, division, modulus, exponentâ€¦)

In [ ]:
def add(a,b):
  return a+b

def sub(a,b):
  return a-b

def multiply(a,b):
  return a*b

def division(a,b):
  return a/b

def modulus(a,b):
  return a%b

def exponent(a,b):
  return a**b

def floor_division(a,b):
  return a//b

In [ ]:
add(10,20)

30

In [ ]:
sub(100,99)

1

In [ ]:
multiply(99902,199899)

19970309898

In [ ]:
division(99,5)

19.8

In [ ]:
modulus(33,2)

1

In [ ]:
exponent(3,10)

59049

In [ ]:
floor_division(99,5)

19

9. Write a program to count number of times a recursive function is called

In [ ]:
count = 0
def fun(n):
  global count
  count+=1
  if n<10:
    return 0
  else:
    return fun(n-1)


fun(120)
print("No of times recursive function is called:",count)

No of times recursive function is called: 112

10. Write a program to compute F(M, N) , where F(M, N) can be recursively defined as <br>
F(M, N) = 1   					if M=0 or M >= N >= 1<br>
F(M, N) = F(M-1, N) + F(M-1, N-1) 		otherwise<br>

In [ ]:
def F(M,N):
  if M==0 or (M>=N and M>=1):
    return 1
  else:
    return F(M-1,N) + F(M-1,N-1)

In [ ]:
F(2,3)

4

In [ ]:
F(1,1)

1

In [ ]:
F(22,55)

4194304

# **Section 5**

1. Write a python program to find sum of elements in a list

In [ ]:
x = input("Enter elements in a list seperated by space:")
li = x.split(' ')
sum=0
for i in li:
  sum+=int(i)

print("Sum of the numbers in a list:",sum)

Enter elements in a list seperated by space:10 20 30 40 50 60
Sum of the numbers in a list: 210

2. Write a program to find largest and second largest number in a list

In [ ]:
y = input("Enter elements in a list seperated by space:").split(' ')
a = list(set(y))
a.sort()
print("Largest number in list: {}\nSecond Largest in list: {}".format(a[-1],a[-2]))

Enter elements in a list seperated by space:11 17 88 13 15
Largest number in list88
Second Largest in list17

3. Write a program to interchange first and last elements in a list

In [ ]:
li = input("Enter element in a list seperated by a space:").split(' ')
print(li)
li[-1],li[0] = li[0],li[-1]
print(li)

Enter element in a list seperated by a space:11 12 13 14 15 a b c 13 d
['11', '12', '13', '14', '15', 'a', 'b', 'c', '13', 'd']
['d', '12', '13', '14', '15', 'a', 'b', 'c', '13', '11']

4. Write a Program to multiply two matrices using list

In [ ]:
mat1 = [
        [3,3,3],
        [3,3,3],
        [3,3,3]
]
mat2 = [
        [1,1,1],
        [1,1,1],
        [1,1,1]
]

for i in range(3):
  for j in range(3):
    p = 0
    for k in range(3):
      p = p+ mat1[i][k]*mat2[k][j]

    print(p,end=' ')
  print()

9 9 9
9 9 9
9 9 9

5. Write a program to  Transpose a matrix using list

In [ ]:
mat_a = [
         [2,3,5],
         [7,3,2],
         [11,2,6]
]
Transpose_mat_a = []
for i in range(3):
  for j in range(3):
    print(mat_a[j][i],end=' ')
  print()

2 7 11
3 3 2
5 2 6

6. Write a program to implement stack operations using list

In [ ]:
stack = []

def push(x):
  global stack
  stack.append(x)
  print("Successfully appended")

def pop():
  global stack
  print("\n{} is removed from the stack\n".format(stack.pop()))

def Display():
  global stack
  print("\n")
  for i in stack:
    print(i,end=' ')
  print("\n")
  
def top():
  global stack
  print("\nTop element in the Stack:{} \n".format(stack[-1]))

In [ ]:
push(10)
push(20)
push(30)
push(100)
push(20)
Display()
top()
pop()
pop()
Display()
top()
Display()

Successfully appended
Successfully appended
Successfully appended
Successfully appended
Successfully appended


10 20 30 100 20

Top element in the Stack:20

20 is removed from the stack

100 is removed from the stack



10 20 30

Top element in the Stack:30



10 20 30

 7. Write a program to print the number of occurrences of a character in a given string using dictionary<br>
Example:<br>
Input: â€˜Helloâ€™<br>
Output: {â€˜Hâ€™:1,â€™eâ€™:1, â€™lâ€™:2, â€™oâ€™:1}<br>

In [ ]:
string1 = input("Enter any string:")
string2 = ''
dict1 = dict ()
for i in string1:
  if i not in string2:
    string2+=i

for i in string2:
  if i in string1:
    dict1.update({i:string1.count(i)})

print(dict1)

Enter any string:hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

8. Write a python program to print keys and values using predefined functions

In [ ]:
dict_a = {'a':1,'b':2,'c':3,'d':4,'e':5}
print('Keys:')
for i in dict_a.keys():
  print(i,end=' ')

print('\nValues:')
for i in dict_a.values():
  print(i,end=' ')

print('\nKey Value Pairs:')
for i in dict_a.items():
  print(i,end=' ')

Keys:
a b c d e
Values:
1 2 3 4 5
Key Value Pairs:
('a', 1) ('b', 2) ('c', 3) ('d', 4) ('e', 5)

9.     9. Write a program to print a histogram of frequencies of characters occurring in a string<br>
Example:<br>
Msg= â€˜helloworldâ€™<br>
Example Output:<br>
h  *<br>
e  *<br>
l   ***<br>
o  **<br>
w  *<br>
r    *<br>
d   *<br>

In [ ]:
string1 = input("Enter any string:")
string2 = ''
dict1 = dict ()
for i in string1:
  if i not in string2:
    string2+=i

for i in string2:
  if i in string1:
    dict1.update({i:string1.count(i)})

for i,j in zip(dict1.keys(),dict1.values()):
  print(i,j*'*')

Enter any string:hello world
h *
e *
l ***
o **
  *
w *
r *
d *

10. Write a program that reads a string and print the occurrence of each word in the dictionary format.<br>
Example:<br>
 Str = â€˜how muchÂ woodÂ would a woodchuckÂ chuckÂ if a woodchuck couldÂ chuck woodâ€™<br>
{ â€˜howâ€™: 1, â€˜muchâ€™:1, â€˜woodâ€™:2, â€˜wouldâ€™:1, â€˜aâ€™:2, â€˜woodchuckâ€™:2â€¦.}

In [ ]:
string1 = input("Enter any string:").split(' ')
string2 = []
dict1 = dict ()
for i in string1:
  if i not in string2:
    string2.append(i)

for i in string2:
  if i in string1:
    dict1.update({i:string1.count(i)})

print(dict1)

Enter any string:how much wood would a woodchuck chuck if a woodchuck could chuck wood
{'how': 1, 'much': 1, 'wood': 2, 'would': 1, 'a': 2, 'woodchuck': 2, 'chuck': 2, 'if': 1, 'could': 1}

11.  Create a dictionary of products purchased and their MRPs. Calculate the bill and  display it to the customer.

In [ ]:
products = {'Earphones':600,'Pen-Drive':400,'Keyboard':1000,'Mouse':400}
total_amount=0
for i in products.values():
  total_amount+=i
print("Total Bill")
for i,j in zip(products.keys(),products.values()):
  print(i+" "+str(j))

print("Total Amount : {}".format(total_amount))

Total Bill
Earphones 600
Pen-Drive 400
Keyboard 1000
Mouse 400
Total Amount : 2400

12. Write a program that displays a menu and its price. Take the order from the customer. Check if the ordered product is in the menu. In case it is not present, the customer should be asked to reorder. And if it is present then product should be added in the bill.

In [ ]:
items = {'Banana Milk Shake':30,'Pine apple Shake':30,'Oreo Shake':100,'chocolate Milk shake':120,'Mango Shake':80,'Butter scotch':90}
items_list = [x for x in items.keys()]
ordered_items = {}
n = None
total_amount = 0

In [ ]:

def menu():
  global items, ordered_items, items_list,n
  print("*********** MENU **************")
  for i in range(len(items_list)):
    print(str(i+1)+'. '+items_list[i]+'  '+str(items[items_list[i]]))


def order():
  global items, ordered_items, items_list,n,total_amount
  menu()
  n = int(input("Enter the ID of the Item:"))
  if n<=6 and n>=1:
    p = items_list[n-1]
    ordered_items.update({p:items[p]})
  else:
    print("Please reorder the item u asked is not there in the list:")
    order()
    


def bill():
  global items, ordered_items, items_list,total_amount,prices
  print("---------------Total Bill-------------")
  for i,j in zip(ordered_items.keys(),ordered_items.values()):
    print(i+'  '+str(j))
  for i in ordered_items.values():
    total_amount+=i
  print("Total amount:",total_amount)

In [ ]:
if __name__ == "__main__":
  ord1=0
  while True:
    print("1:Display_Menu\n2:Order_Items\n3:Display_Bill\n4.Exit\n")
    choice = int(input("Enter your choice(1-4):"))
    if choice==1:
      menu()
    if choice==2:
      no_of_items = int(input("Enter the number of items to order:"))
      for i in range(no_of_items):
        ord1 = 1 
        order()

    if choice==3 and ord1 == 1:
      bill()
      break
    else:
      print()

    if choice==4:
      break

1:Display_Menu
2:Order_Items
3:Display_Bill
4.Exit

Enter your choice(1-4):1
*********** MENU **************
1. Banana Milk Shake  30
2. Pine apple Shake  30
3. Oreo Shake  100
4. chocolate Milk shake  120
5. Mango Shake  80
6. Butter scotch  90

1:Display_Menu
2:Order_Items
3:Display_Bill
4.Exit

Enter your choice(1-4):3

1:Display_Menu
2:Order_Items
3:Display_Bill
4.Exit

Enter your choice(1-4):2
Enter the number of items to order:3
*********** MENU **************
1. Banana Milk Shake  30
2. Pine apple Shake  30
3. Oreo Shake  100
4. chocolate Milk shake  120
5. Mango Shake  80
6. Butter scotch  90
Enter the ID of the Item:3
*********** MENU **************
1. Banana Milk Shake  30
2. Pine apple Shake  30
3. Oreo Shake  100
4. chocolate Milk shake  120
5. Mango Shake  80
6. Butter scotch  90
Enter the ID of the Item:4
*********** MENU **************
1. Banana Milk Shake  30
2. Pine apple Shake  30
3. Oreo Shake  100
4. chocolate Milk shake  120
5. Mango Shake  80
6. Butter scotch  90
Enter the ID of the Item:6

1:Display_Menu
2:Order_Items
3:Display_Bill
4.Exit

Enter your choice(1-4):3
---------------Total Bill-------------
Oreo Shake  100
chocolate Milk shake  120
Butter scotch  90
Total amount: 310